/* general styles */

html,
body {
    height: 100%;
    width: 100%;
}


/* vertical-centered text */

.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


/* additional sections */

#home {
    background: url(../images/home.jpg) no-repeat center center fixed;
    background-color: black;
    background-size: auto 100%;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
    height: 100%;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    height: 100%;
    min-height: 800px;
}

.logobar {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.logobarStatic {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: block;
    position: absolute;
    width: 100%;
}

.container h4 strong {
    color: rgba(132, 192, 40, .97) !important;
    text-shadow: 0px 1px 2px rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, 'Arial', sans-serif !important;
    font-weight: 700;
}

.container h3 strong {
    color: rgba(132, 192, 40, 1) !important;
    text-shadow: 0px 1px 2px rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, 'Arial', sans-serif !important;
    font-weight: 700;
    font-size: 2.8rem;
}

.container h3 span {
    text-shadow: 0px 1px 2px rgb(105, 158, 36) !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, 'Arial', sans-serif !important;
    font-size: 4rem;
    font-weight: 700;
}

.container h4 span {
    text-shadow: 0px 1px 2px rgb(105, 158, 36) !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, 'Arial', sans-serif !important;
    font-weight: 700;
}


/*
section .light-blue.lighten-4 {
    background-color: rgba(179, 4229, 252, 0.89) !important;
}*/

section .light-blue.lighten-5 {
    background-color: rgba(225, 245, 254, 0.89) !important;
    text-align: justify;
}

.swiper-slide h5 {
    width: 85%;
    margin: auto;
    margin-top: 10px;
}

.swiper-slide .row div {
    background-color: rgba(0, 0, 0, 0.7);
}

section .card-panel {
    padding: 15px;
    min-height: 300px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
    height: 100%;
}

.chip {
    margin: 3px 3px;
    margin: 3px 3px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    background: transparent;
}

.whoWeAre {
    line-height: 2;
    font-stretch: ultra-condensed;
    font-size: 1rem;
}


}
.icon-block .material-icons {
    font-size: 3.56rem;
    color: #84C028;
}
.icon-block .light {
    text-align: justify
}
.container h4 {
    min-height: 100px;
}
.whyepic {
    margin-top: 2rem;
}
.swiper-container {
    height: 22rem;
}
.font-midtext {
    font-size: .9rem;
}
.swiper-slide h5 {
    width: 85%;
    padding-bottom: 10px;
}
#Competitive1,
#Competitive2,
#Competitive3 {
    visibility: hidden;
}
#Competitive1.animated,
#Competitive2.animated,
#Competitive3.animated {
    visibility: visible !important;
}

/* slider         */
.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-height: 350px !important;
    background-size: auto 100% !important;
    background-position: center top !important;
    background-repeat: no-repeat;
}
.swiper-slide h5 {
    width: 100%;
    padding-bottom: 10px;
}
.slide-title {
    font-family: "myriad", Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 100%;
    color: white;
}
.slide-title b {
    color: rgba(132, 192, 40, 1);
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.titleline {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    margin: 8px 0px;
    font-size: 4 rem;
}
.titleline::before,
.titleline::after {
    content: "";
    flex-grow: 1;
    background: rgba(132, 192, 40, 0.6);
    height: 2px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}
.dropdown-content li > a,
.dropdown-content li > span {
    font-size: 16px;
    color: #84C028;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

/*form error msg text*/
.input-field div.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #FF4081;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}
.input-field label.active {
    width: 100%;
}
.left-alert input[type=text] + label:after,
.left-alert input[type=password] + label:after,
.left-alert input[type=email] + label:after,
.left-alert input[type=url] + label:after,
.left-alert input[type=time] + label:after,
.left-alert input[type=date] + label:after,
.left-alert input[type=datetime-local] + label:after,
.left-alert input[type=tel] + label:after,
.left-alert input[type=number] + label:after,
.left-alert input[type=search] + label:after,
.left-alert textarea.materialize-textarea + label:after {
    left: 0px;
}
.right-alert input[type=text] + label:after,
.right-alert input[type=password] + label:after,
.right-alert input[type=email] + label:after,
.right-alert input[type=url] + label:after,
.right-alert input[type=time] + label:after,
.right-alert input[type=date] + label:after,
.right-alert input[type=datetime-local] + label:after,
.right-alert input[type=tel] + label:after,
.right-alert input[type=number] + label:after,
.right-alert input[type=search] + label:after,
.right-alert textarea.materialize-textarea + label:after {
    right: 70px;
}
.right-alert input[type=text] + label:after,
.right-alert input[type=password] + label:after,
.right-alert input[type=email] + label:after,
.right-alert input[type=url] + label:after,
.right-alert input[type=time] + label:after,
.right-alert input[type=date] + label:after,
.right-alert input[type=datetime-local] + label:after,
.right-alert input[type=tel] + label:after,
.right-alert input[type=number] + label:after,
.right-alert input[type=search] + label:after,
.right-alert textarea.materialize-textarea + label:after {
    right: 70px;
}

/*custome form start*/

/* label color */
.input-field label {
    color: #84C028;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=textarea]:focus + label,
.input-field select:focus + label {
    color: #84C028;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=textarea]:focus,
.input-field select:focus {
    border-bottom: 1px solid #84C028;
    box-shadow: 0 1px 0 0 #84C028;
}

/* valid color */
.input-field input[type=text].valid,
.input-field input[type=password].valid,
.input-field input[type=textarea].valid,
.input-field select.valid {
    border-bottom: 1px solid #84C028;
    box-shadow: 0 1px 0 0 #84C028;
}

/* invalid color */
.input-field input[type=text].invalid,
.input-field input[type=password].invalid,
.input-field input[type=textarea].invalid,
.input-field select.invalid {
    border-bottom: 1px solid #84C028;
    box-shadow: 0 1px 0 0 #84C028;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #84C028;
}
select {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 2px;
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #84C028;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
}
.select-wrapper input.select-dropdown {
    color: #84C028
}

/*nav*/
#navigation {
    height: 100px;
    background-color: rgba(0, 0, 0, .9) !important;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
@media (min-width: 1025px) .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
@media (min-width: 768px) .navbar-nav > li > a {
    margin-top: 17.5px;
    margin-bottom: 17.5px;
}
.navbar-nav li a {
    background-color: transparent!important;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}
.navbar-nav > li > a {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 20px;
}
.navbar-nav li ul {
    /* background: #f6fdfe; */
    
    background: rgba(0, 0, 0, .6);
    padding: 5px;
    position: absolute;
    top: 80px;
    left: 10px;
    width: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
}
.navbar-nav li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.navbar-nav li ul li span {
    float: left;
    height: 40px;
}
.navbar-nav li ul {
    /* background: #f6fdfe; */
    
    background: rgba(0, 0, 0, .6);
    padding: 5px;
    position: absolute;
    top: 80px;
    left: 10px;
    width: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
}

/******************/
.navbar-logo:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.navbar-nav > li > a {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 20px;
}
.navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.6);
}
.navbar-nav li ul {
    /*    background: #f6fdfe;
    */
    
    background: rgba(0, 0, 0, .6);
    padding: 5px;
    position: absolute;
    top: 40px;
    left: 10px;
    width: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
}
.navbar-nav li ul li a {
    padding: 10px 6px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
}
.navbar-nav li ul li a:hover {
    background-color: #fff;
}
.navbar-nav li ul li.current a {
    color: #FFF;
    height: 50px;
}
.navbar-nav li ul li {
    display: block;
    border-bottom: 1px solid #dde3e4;
}
.navbar-nav li ul li:last-child {
    border-bottom: none;
}
.nav_cir {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    float: left;
    margin: 4px 15px 0 10px;
}
.navbar-nav li ul li span {
    float: left;
}
.cln_cir {
    border: 2px solid #29c85e;
}
.plm_cir {
    border: 2px solid #00c6ff;
}
.car_cir {
    border: 2px solid #b38721;
}
.elc_cir {
    border: 2px solid #ff7200;
}
.ac_cir {
    border: 2px solid #3b506d;
}
.appliances_cir {
    border: 2px solid #7e2a47;
}
.geyser_cir {
    border: 2px solid #3b5c88;
}
.pest_cir {
    border: 2px solid #fb857d;
}
.navbar-nav li a {
    background-color: transparent!important;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}
.navbar-nav li a:hover {
    font-weight: 500;
    text-shadow: 0px 1px 3px rgba(255, 255, 255, .75);
}
.navbar-nav li a:hover ul li {
    display: block;
}
.navbar-nav li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

/*****************/

/*custome form end*/

/* smartphone lanscapes */

/*
media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (orientation:landscape),
only screen and (-o-min-device-pixel-ratio: 13/10) and (orientation:landscape),
only screen and (min-resolution: 120dpi) and (orientation:landscape) {
*/
@media only screen and (max-width: 992px) and (orientation:landscape) {
    /* Your code to swap higher DPI images */
    
   
    
    .swiper-container {
        height: 15rem;
    }
    
    .swiper-slide h5 {
        padding-bottom: 5px;
    }
    
    .container h4 {
        min-height: 0px;
        margin: 0px;
    }
    .logobar img,
    .logobarStatic img {
        height: 50px;
    }
    
    .container h4 strong {
        /*
        font-weight: 700;
        font-size: .9rem;
        text-shadow: 0px 1px 2px rgb(51, 51, 55);*/
        /*        color: rgba(132, 192, 40, .97) !important;*/
        text-shadow: 0px 1px 2px rgb(51, 51, 55);
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 5px;
    }
    
    #home {
        background: url(../images/home.jpg) no-repeat center center fixed;
        background-color: black;
        background-size: auto 100%;
        height: 100%;
        position: relative;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 800px;
        height: 100%;
    }
    
    .container h4 span {
        /*
        
        font-size: 2 rem !important;
        font-weight: 500;
*/
        font-size: 1.5rem !important;
        font-weight: 500;
        font-family: Helvetica, 'Arial', sans-serif !important;
        text-shadow: 0px 1px 1px rgb(105, 158, 36) !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }
    
    section .card-panel {
        padding: 10px 15px;
        min-height: 150px;
    }
    
    .bottom-margin-2 {
        margin-bottom: 2px;
    }
    
    .whyepic {
        margin-top: 0px;
    }
    
    .container h3 span {
        text-shadow: 0px 1px 2px rgb(105, 158, 36) !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .container h3 strong {
        color: rgba(132, 192, 40, 1) !important;
        text-shadow: 0px 1px 2px rgb(255, 255, 255);
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-weight: 700;
        font-size: 2.3rem;
    }
    
    .icon-block .material-icons {
        font-size: inherit;
        color: #84C028;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 992px) and (orientation:portrait) {
    Styles .logobar img,
    .logobarStatic img {
        height: 50px;
        width: 85px;
    }
    
    .container h3strong {
        font-weight: 700;
        font-size: .9em;
        text-shadow: 0px 1px 2px rgb(51, 51, 55);
    }
    
    .container h4 span {
        text-shadow: 0px 1px 1px rgb(105, 158, 36) !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-size: .9em !important;
        font-weight: 500;
    }
    
    section .card-panel {
        padding: 10px 15px;
        min-height: 150px;
    }
    
    .bottom-margin-2 {
        margin-bottom: 2px;
    }
    
    .whyepic {
        margin-top: 20px;
    }
    
    .whyepic h5 {
        font-size: .8rem;
    }
    
    .container h3 span {
        text-shadow: 0px 1px 2px rgb(105, 158, 36) !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .container h3 strong {
        color: rgba(132, 192, 40, 1) !important;
        text-shadow: 0px 1px 2px rgb(255, 255, 255);
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-weight: 700;
        font-size: 2.3rem;
    }
    
    .icon-block .material-icons {
        font-size: inherit;
        color: #84C028;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 600px) {
   
    .logobar img,
    .logobarStatic img,
    {
        height: 50px;
        width: 50px;
    }
    .navbar-nav li ul li span {
        height: auto;
    }
    .navbar-nav > li > a {
        padding: 0 5px;
        font-size: 1rem;
        margin-top: 5px;
    }
    .navbar-nav li a {
        font-size: 1rem;
    }
    .navbar-nav li ul li a {
        padding: 5px 2px;
    }
    .navbar-nav li ul li.current a {
        height: 30px;
    }
    .container h4 strong {
        font-weight: 700;
        text-shadow: 0px 1px 2px rgb(51, 51, 55);
    }
    
    .container h4 span {
        text-shadow: 0px 1px 1px rgb(105, 158, 36) !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-size: 1em;
        font-weight: 500;
    }
    
    .logo h4 {
        font-size: 1.5rem;
    }
    
    .scroll img {
        height: 30px;
    }
    
    .container h3 strong {
        font-weight: 700;
        text-shadow: 0px 1px 2px rgba(255, 255, 255, .9);
        color: rgba(132, 192, 40, 1) !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 2.3rem;
        font-family: Helvetica, 'Arial', sans-serif !important;
    }
    
    .container h3 span {
        text-shadow: 0px 1px 2px rgba(105, 158, 36, ) !important;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-family: Helvetica, 'Arial', sans-serif !important;
        font-size: 2.5rem;
        font-weight: 500;
    }
    
    .swiper-slide h5 {
        width: 85%;
        padding-bottom: 10px;
    }
    
    f .swiper-slide .row div {
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .slide-title {
        font-family: "myriad", Helvetica Neue, Helvetica, Arial, sans-serif;
        height: 100%;
        color: white;
        font-size: 1.05rem;
        margin-left: AUTO;
        MARGIN-RIGHT: AUTO;
    }
    
    .slide-title b {
        color: rgba(132, 192, 40, 1);
        text-shadow: 0px 1px 1px rgb(0, 0, 0);
        font-size: 1.05rem;
    }
    
    .icon-block .material-icons {
        font-size: inherit;
        color: #84C028; //84C028red
    }
}

/* Desktop (portrait) ----------- */
@media only screen and (min-width: 993px) {
    /* Styles */
    
    .icon-block .material-icons {
        font-size: inherit;
        color: #84C028;
    }
}
#googleMap div {
    pointer-events: none;
}